@font-face {
	font-family: AkkuratStd-Regular;
	src: url('../../Content/fonts/AkkuratStd-Regular.otf') format("opentype");

}


#btnSetPassword, body
{
font-family: AkkuratStd-Regular;
}

.headerContent
{
    height: 50px;
    width: 100%;
    background: #555759;
    top: 0;
    left: 0;
    position: absolute;
    line-height: 50px;
}

#container
{
    height: 100%;
    width: 100%;
    left: 25%;
    float: left;
    color: #555759;
}

.content
{
    width: 100%;
    padding-left: 50px;
    padding-top: 80px;
}

.leftColumn
{
    width: 150px;
}

.titleLabel
{
    font-size: 20px;
    font-weight: normal;
}

.footerContent
{
    background: #DDDDDE;
    clear: both;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
    line-height: 40px;
}

#logoImg
{
    right: 0;
    padding-right: 20px;
    position: absolute;
    vertical-align: middle;
    margin: 22px auto;
}

.btnStyle
{
    height: 25px;
    width: 110px;
    cursor: pointer;
    color: #555759;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25 px;
    border-radius: 0px;
    border: 1px solid;
    border-color: #555759;
    background: #DDDDDE;
    text-align: center;
    padding: 0 0 3.5px;
    vertical-align:middle;

}

.btnStyle:hover
{
    height: 25px;
    width: 110px;
    cursor: pointer;
    color: #ffffff;    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25 px;
    border-radius: 0px;
    border: 1px solid;
    border-color: #555759;
    background: #555759;
    text-align: center;    
}

.lblProjectName
{    
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 20px;
}

.copyright
{
    font-size: 14px;
    color: #555759;
    right: 0;
    position:absolute;
    margin: auto 40px;
}

.errorMsg 
{
    font-size: 14px;
    font-weight: normal;
    color: Red;
    padding-left: 10px;
}
